<nav id="menu" class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
  <div class="container-fluid text-center">
    <a class="navbar-brand" href="/">
      <i class="fas fa-key"></i> Key Club
    </a>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="/events">
            <i class="fas fa-hands-helping"></i> Events
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hours">
            <i class="fas fa-user-plus"></i> Submit Hours
          </a>
        </li> -->
        <!--<li class="nav-item">
          <a class="nav-link" href="/check">
            <i class="fas fa-user-check"></i> Check Hours
          </a>
        </li>-->
      </ul>
    </div>

    <button id="whci-menu-btn" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu .navbar-collapse.collapse">
      <i id="whci-menu-btn-bars" class="fas fa-bars"></i><i id="whci-menu-btn-times" class="fas fa-times"></i>
      <span id="whci-menu-btn-text" class="pl-1"></span>
    </button>

    <!--<div class="navbar-collapse collapse w-100 order-3">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/suggest">
            <i class="fas fa-comment"></i> Suggestions
          </a>
        </li>
      </ul>
    </div>-->
  </div>
</nav>