<nav id="menu" class="navbar navbar-expand-md bg-primary navbar-dark">
  <div class="container-fluid text-center">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item whci-nav-item">
          <a class="nav-link" href="/events">
            <i class="fas fa-hands-helping"></i> Events
          </a>
        </li>
        <li class="nav-item whci-nav-item">
          <a class="nav-link" href="/hours">
            <i class="fas fa-user-plus"></i> Submit Hours
          </a>
        </li>
        <li class="nav-item whci-nav-item">
          <a class="nav-link" href="/check">
            <i class="fas fa-user-check"></i> Check Hours
          </a>
        </li>
      </ul>
    </div>

    <a class="navbar-brand whci-nav-item" href="/">
      <i class="fas fa-key"></i> Key Club
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu .navbar-collapse.collapse">
      <i class="navbar-toggler-icon"></i>
    </button>

    <div class="navbar-collapse collapse w-100 order-3">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item whci-nav-item">
          <a class="nav-link" href="/teachers">
            <i class="fas fa-chalkboard-teacher"></i> Teachers
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>